<ion-content padding>
  <ion-list>
    <h1>TEMOS ALGUMAS PERGUNTAS PARA VOCÊ:</h1>

    <ion-item>
      <ion-label>O QUE ACHOU DA NOSSA LOJA?</ion-label>

      <ion-range min="0" max="5" snaps="true" [(ngModel)]="loja">
        <ion-icon range-left name="md-star-outline"></ion-icon>
        <ion-icon range-right name="md-star-outline" *ngIf="loja < 3"></ion-icon>
        <ion-icon range-right name="md-star-half" *ngIf="loja == 3"></ion-icon>
        <ion-icon range-right name="md-star" *ngIf="loja >= 4"></ion-icon>
      </ion-range>

    </ion-item>

    <ion-item>
      <ion-label>O QUE ACHOU DA DIFICULDADE?</ion-label>

      <ion-range min="0" max="5" snaps="true" [(ngModel)]="dificuldade">
        <ion-icon range-left name="md-star-outline"></ion-icon>
        <ion-icon range-right name="md-star-outline" *ngIf="dificuldade < 3"></ion-icon>
        <ion-icon range-right name="md-star-half" *ngIf="dificuldade == 3"></ion-icon>
        <ion-icon range-right name="md-star" *ngIf="dificuldade >= 4"></ion-icon>
      </ion-range>

    </ion-item>

    <ion-item>
      <ion-label>O QUE ACHOU DO APP DE DICAS?</ion-label>

      <ion-range min="0" max="5" snaps="true" [(ngModel)]="dicas">
        <ion-icon range-left name="md-star-outline"></ion-icon>
        <ion-icon range-right name="md-star-outline" *ngIf="dicas < 3"></ion-icon>
        <ion-icon range-right name="md-star-half" *ngIf="dicas == 3"></ion-icon>
        <ion-icon range-right name="md-star" *ngIf="dicas >= 4"></ion-icon>
      </ion-range>

    </ion-item>
    <button ion-button block (click)="enviarForm()">REGISTRAR SUA OPINIÃO</button>
  </ion-list>
</ion-content>
