page-painel-controle {
  h1 {
    font-size: 30px;
  }

  .form{
    margin: 120px auto;
  }

  .btn-salvar {
    margin-top: 20px;
  }

  .btn-proximo {
    float: right;
    margin-top: 20px;    
  }

  .btn-anterior {
    float: left;
    margin-top: 20px;
  }
}
